* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

a {
	text-decoration: none;
}

#product-overview {
	background: url('./freedom.jpg');
	padding: 20px;
	width: 100%;
	height: 528px;
}

#product-overview h1 {
	color: white;
	font-family: 'Anton', sans-serif;
	font-weight: 400;
}

.section-title {
	color: #2ddf5c;
}

.main-header {
	width: 100%;
	background: #2ddf5c;
	padding: 8px 16px;
}

.main-header > div {
	display: inline-block;
	vertical-align: middle;
}

.main-header a {
	color: #0e4f1f;
}

.main-header__brand {
	font-weight: bold;
	font-size: 22px;
}

.main-nav {
	width: calc(100% - 74px);
	text-align: right;
	display: inline-block;
	vertical-align: middle;
}

.main-nav__items {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-nav__item {
	display: inline-block;
	margin: 0px 16px;
}

.main-nav__item a {
	font-weight: bold;
	padding: 3px 0px;
	/* border-bottom: transparent 5px solid; */
}

.main-nav__item a:hover,
.main-nav__item a:active {
	color: white;
	border-bottom: white 5px solid;
}

.main-nav__item--cta a {
	color: white;
	background-color: #ff1b68;
	padding: 8px 16px;
	border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
	color: #ff1b68;
	background-color: white;
	border: none;
}
